<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <title>Week 4</title>
    <link rel="stylesheet" type="text/css" href="../static/layout_week4.css">
</head>
<body>
    <header>
        Welcome, This is member page
    </header>
    <main>
        <div class="login_title">
            Congratulation, successful to login
        </div>
        <div class="login_title">
            <a href="{{url_for('signout', method='GET')}}">
                Logout system
            </a>
        </div>
    </main>
</body>
</html>
