/*
===============
Type selectors
===============
*/
header{
    font-size:20px;
}

/*
===============
Class selecters
===============
*/

/* Header part */
header .display_flex{
    display: flex;
    align-items: center;
    padding: 10px;
}

header .left_web_name{
    flex: none;
}

header .right_menu_top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
}

header .right_menu_top>.menu_figure{
    display: none;
    height: 20px;
    width: 20px;
/*    position: relative;*/
}

header .right_menu_top>.menu_figure>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*
    @TODO
    @Reference : Wehelp website
    @Description :
        07/04
        It draws three lines representing the hambrgur figure.
        It has the animation of the drop down menu.
        Please read it and finish this function

header .right_menu_top>.menu_figure>.menu_lines {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color: var(--text-color);
    transform: translate(-50%,-50%);
}

header .right>.menu-trigger>.lines::before,
header .right>.menu-trigger>.lines::after{
  position:absolute;content:'';
  width:20px;height:1px;
  background-color:var(--text-color);
}
*/

header .right_menu_top>.menu_text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

header .right_menu_top>.menu_text>.menu_text_item{
/*    padding: 20px;*/
    flex: none;
}

/* Main part */

main .weclome{
    display: flex;
    height: 250px;
    background-color: #E0FFFF;
    justify-content: center;
    align-items: center;
}

main .weclome>.weclome_text{
    font-size:40px;
}

/*
===============
Media Query
===============
*/
@media (min-width: 1200px) and (max-width: 1920px){
    
}

@media (min-width: 600px) and (max-width: 1200px){
    
}

@media (max-width: 600px){
    header .right_menu_top>.menu_figure{
        display: block;
    }

    header .right_menu_top>.menu_text{
        display: none;
    }
}